html {
    font: {
        size: 62.5%;
        family: $font;
        weight: 400;
    }
}
body {
    margin: 0;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.section-category {
    font: {
        size: 1.6rem;
        weight: 500;
    }
    color: $pink-light;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 5px;
}
.section-title {
    font: {
        size: 4rem;
        weight: 500;
    }
    color: $content-dark;
    margin: 0 0 30px;
    &--white {
        color: $white;
    }
}
.section-text {
    font: {
        size: 1.6rem;
        weight: 500;
    }
    line-height: 25px;
    color: $content-light;
    margin: 0 0 40px;
}
.alert {
    font-size: 1.6rem;
    color: $white;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 10px 0;
    display: none;
    text-align: left;
    &__error {
        background-color: $error;
    }
    &__success {
        background-color: $success;
    }
    ol {
        padding-left: 0;
    }
    li {
        margin-bottom: 10px;
    }
}
.valid {
    border: 1px solid $success !important;
}
.invalid {
    border: 1px solid $error !important;
}
.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}
