html {
    font: {
        size: 62.5%;
        family: $font;
        weight: 400;
    }
}
body {
    margin: 0;
}
.section-category {
    font: {
        size: 1.6rem;
        weight: 500;
    }
    color: $pink-light;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 5px;
}
.section-title {
    font: {
        size: 4rem;
        weight: 500;
    }
    color: $content-dark;
    margin: 0 0 30px;
    &--white {
        color: $white;
    }
}
.section-text {
    font: {
        size: 1.6rem;
        weight: 500;
    }
    line-height: 25px;
    color: $content-light;
    margin: 0 0 40px;
}
.alert {
    font-size: 1.3rem;
    color: $white;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 10px 0;
    display: none;
    &__error {
        background-color: #a75959;
    }
    &__success {
        background-color: #2d762d;
    }
    li {
        margin-bottom: 5px;
    }
}
.valid {
    border: 1px solid green;
}
.invalid {
    border: 1px solid red;
}
.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}
